Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of structured information, or data, typically stored electronically in a computer system.

SQL databases display data in form of tables so it is known as table-based database. NoSQL databases display data as collection of key-value pair, documents, graph databases or wide-column stores. SQL databases are vertically scalable. NoSQL databases are horizontally scalable.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language, which defines the structure or schema of the database.

CREATE: This command is used to create the database or its objects (like table, index, function, views, store procedure, and triggers).
DROP: This command is used to delete objects from the database.
ALTER: This is used to alter the structure of the database.
TRUNCATE: This is used to remove all records from a table, including all spaces allocated for the records are removed.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(host="localhost",user="root",password="93283Kish@n")

print(mydb)
my_cursor = mydb.cursor()
my_cursor.execute("CREATE DATABASE if not exists test")
my_cursor.execute("SHOW DATABASES")
for x in my_cursor:
    print(x)
#create
my_cursor.execute("create table if not exists test.test_table(c1 int,c2 varchar(50),c3 float,c4 int,c5 varchar(30))")
my_cursor.execute("insert into test.test_table values(123,'asd',34.56,654,'ert')")
mydb.commit()
#alter add column
my_cursor.execute("alter table test.test_table add c6 varchar(255)")
#alter drop column
my_cursor.execute("alter table test.test_table drop column c6")
#alter modify column
my_cursor.execute("alter table test.test_table modify c5 varchar(255)")
#truncate 
my_cursor.execute("truncate table test.test_table")
#drop
my_cursor.execute("drop table test.test_table")
mydb.close()

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Data Manipulation Language (DML) commands in SQL deal with the manipulation of data records stored within the database tables.

INSERT	Used to insert new data records or rows in the database table
UPDATE	Used to set the value of a field or column for a particular record to a new value
DELETE	Used to remove one or more rows from the database table

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(host="localhost",user="root",password="93283Kish@n")

print(mydb)
my_cursor = mydb.cursor()
my_cursor.execute("CREATE DATABASE if not exists test")
my_cursor.execute("SHOW DATABASES")
for x in my_cursor:
    print(x)
my_cursor.execute("create table if not exists test.test_table(c1 int,c2 varchar(50),c3 float,c4 int,c5 varchar(30))")
#insert command
my_cursor.execute("insert into test.test_table values(123,'asd',34.56,654,'ert')")
my_cursor.execute("insert into test.test_table values(23,'ad',34.6,65,'et')")
my_cursor.execute("insert into test.test_table values(13,'sd',4.56,64,'rt')")
mydb.commit()
#update command
my_cursor.execute("UPDATE test.test_table SET c1=34 WHERE c5='rt'")
mydb.commit()
my_cursor.execute("delete from test.test_table WHERE c4=65")
mydb.commit()
mydb.close()

Q4. What is DQL? Explain SELECT with an example.

DQL or data query language is to perform the query on the data inside the schema or object.

SELECT	Used to query or fetch selected fields or columns from a database table

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(host="localhost",user="root",password="93283Kish@n")

print(mydb)
my_cursor = mydb.cursor()
my_cursor.execute("select * from collage_db.test_table")
for i in my_cursor.fetchall():
    print(i)
my_cursor.execute("select distinct c4 from collage_db.test_table")
for i in my_cursor.fetchall():
    print(i)
mydb.close()

Q5. Explain Primary Key and Foreign Key.

A primary key generally focuses on the uniqueness of the table. It assures the value in the specific column is unique. A foreign key is generally used to build a relationship between the two tables. The table allows only one primary key.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

A cursor is an object which helps to execute the query and fetch the records from the database.

execute() Method. This method executes the given database operation (query or command).

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(host="localhost",user="root",password="93283Kish@n")

print(mydb)
my_cursor = mydb.cursor()
my_cursor.execute("SHOW DATABASES")
for x in my_cursor:
    print(x)

Q7. Give the order of execution of SQL clauses in an SQL query.

From the eyes of the user, queries begin from the first clause and end at the last clause. However, queries aren’t actually read from top to bottom when carried out.

1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.